.sidebar
  %ul
    %li.logo_icon
      = material_icon.graphic_eq.md_36
    %li.actionable
      .customers_icon
        = material_icon.assignment_ind.md_36
    %li.actionable
      .map_icon
        = material_icon.terrain.md_36
    %li.actionable
      .districts_icon
        = material_icon.place.md_36
    %li.actionable
      .wells_icon
        = material_icon.my_location.md_36