.sidebar
  %ul
    %li.logo_icon
      = material_icon.graphic_eq.md_36
    %li.actionable
      .maps_icon
        = material_icon.terrain.md_36
    %li.actionable
      .customers_icon
        = material_icon.assignment_ind.md_36
      .tab_panel
        %ul
          %li
            %span Customers
          - @customers.each do |c|
            %li
              %span= c.name.titleize
    %li.actionable
      .districts_icon
        = material_icon.place.md_36
      .tab_panel
        %ul
          %li
            %span Districts
          - @districts.each do |c|
            %li
              %span= c.name.titleize
    %li.actionable
      .wells_icon
        = material_icon.my_location.md_36
    %li.actionable
      .parts_icon
        = material_icon.assignment.md_36