
.list_options
  .title= BasinMetrics::PartsController::PARTS_LIST_TITLE
  - if current_user.company.wells.exists?
    = link_to(material_icon.add_circle_outline, basin_metrics_parts_new_path, remote: true)

.list_content
  - if !current_user.company.wells.exists?
    .no_record
      Please add some Wells first
  - elsif current_user.company.parts.exists?
    %table.list_table
      - get_part_headings.each do |heading|
        %th.part_heading= heading.titleize
      - parts.each_with_index do |part|
        %tr.record.part_record{'data-partid': part['id']}
          %td.record_attribute
            %div= get_part_customer_name(part['id'])
          %td.record_attribute{'data-name':'name'}
            %div= part['name'].humanize
          %td.record_attribute{'data-name':'type'}
            %div= part['type']
          %td.record_attribute{'data-name':'number'}
            %div= part['number']
          %td.record_attribute.nullable{'data-name':'size'}
            %div= part['size'].blank? ? 'none' : part['size']
          %td.record_attribute{'data-name':'quantity'}
            %div= part['quantity']
          %td.record_attribute{'data-name':'order'}
            %div= part['order']
          %td.record_attribute{'data-name':'revenue'}
            %div= part['revenue']
          %td.record_attribute.nullable{'data-name':'date_sold'}
            %input.date_selector{value: part['date_sold'], placeholder: "#{part['date_sold'].blank? ? 'pending' : part['date_sold']}"}
          %td.record_attribute{'data-name':'well_id'}
            %div= get_well(part['well_id'].to_i).number
          %td.remove_circle= link_to(material_icon.remove_circle_outline, basin_metrics_part_delete_path(part['id']), method: :delete, remote: true)
  - else
    .no_record
      No Parts Added yet - Go ahead and add some!

:javascript
  setNullableFieldColors();

  $(document).ready(function(){
    var date_selectors = $('.date_selector');
    flatpickr(".date_selector", {
      utc: true,
      enableTime: true,
      weekNumbers: true,
      altInput: true,
      altFormat: "F j, Y h:i K",

      onClose: function(selectedDates, dateStr, instance) {
        var $el = $(instance.element._flatpickr.altInput);
        var new_content = $el.val();
        sendUpdate($el, new_content);
      }
    });
    date_selectors.each(function(){$(this).remove()}); //Remove duplicate inputs
  });