= form_for @question, url: {controller: 'questions', action: 'create'}, remote: true do |f|
  %p
    = f.label :question
    = f.text_field :question
  %p
    = f.label :email
    = f.email_field :email
  = f.submit