
%canvas(id="wellsChart" width="1500px" height="1500px")

:javascript
  var dyn_width = $('.focus_pane').width() + 'px'
  $('canvas').attr('height', dyn_width);

  var dyn_height = $('.focus_pane').height() + 'px'
  $('canvas').attr('height', dyn_height);
  var ctx = $("#wellsChart");
  var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
      labels: #{%W(jan'16 feb'16 mar'16 apr'16 may'16 jun'16 jul'16 aug'16 sep'16 oct'16 nov'16 dec'16 jan'17 feb'17 mar'17 apr'17 may'17 jun'17 jul'17 aug'17 sep'17 oct'17 nov'17 dec'17)},
      datasets: [{
        label: 'Wells Completed',
        type: 'bar',
        data: #{get_monthly_wells_completed[:completion_array]},
        backgroundColor: #{get_background_colors},
        borderColor: #{get_border_colors},
        borderWidth: 1
      },{
        label: 'Revenue (k)',
        type: 'line',
        data: #{get_monthly_wells_completed[:revenue_array]},
        fill: false,
        borderDash: [5, 4],
        backgroundColor: "rgba(75, 192, 192, 0.2)",
        borderColor: "rgba(75, 192, 192, 1)",
        pointRadius: 3,
        pointHoverRadius: 5,
        borderWidth: 1
      }]
    },
    options: {
      responsive: true,
      responsiveAnimationDuration: 1000,
      maintainAspectRatio: false,
      scaleFontColor: "#fff",
      tooltips: {
        mode: 'index',
        intersect: false
      },
      scales: {
        xAxes: [{
          scaleLabel: {
            display: true,
            labelString: "#{get_monthly_wells_completed[:x_label]}"
          },
          gridLines: {
            display: true,
          },
          ticks: {
            beginAtZero: true,
            fontColor: "#9faeaf"
          }
        }],
        yAxes: [{
            stacked: true,
            scaleLabel: {
            display: true,
            labelString: "#{get_monthly_wells_completed[:y_label]}"
          },
          ticks: {
            beginAtZero: true,
            fontColor: "#9faeaf",
            suggestedMin: 0
          }
        }]
      }
    }
  });