
.list_options
  .title WELLS
  = link_to(material_icon.add_circle_outline, basin_metrics_wells_new_path, remote: true) unless (customers_missing? || districts_missing?)

.list_content
  - if customers_missing?
    Please add some Customers first
  - elsif districts_missing?
    Please add some Districts first
  - elsif wells_exist?
    %table.list_table
      - get_well_headings.each do |heading|
        %th.well_heading= heading
      - wells.each_with_index do |well|
        %tr.well_record{'data-wellid': well['id']}
          %td.record_attribute{'data-name':'name'}
            %div= well['name']
          %td.record_attribute{'data-name':'number'}
            %div= well['number']
          %td.record_attribute{'data-name':'work_start'}
            %div= well['work_start']
          %td.record_attribute{'data-name':'work_duration'}
            %div= well['work_duration']
          %td.record_attribute{'data-name':'pump_running'}
            = check_box_tag('well_pump_running', 'true', well['pump_running'].to_boolean)
            %span= well['pump_running'].humanize
          %td.record_attribute{'data-name':'cemented'}
            = check_box_tag('well_cemented', 'true', well['cemented'].to_boolean)
            %span= well['cemented'].humanize
          %td.record_attribute{'data-name':'complete'}
            = check_box_tag('well_complete', 'true', well['complete'].to_boolean)
            %span= well['complete'].humanize
          %td.record_attribute.comment{'data-name':'comments'}
            %div= (well['comments'].nil?) ? 'none' : well['comments']
          %td.record_attribute{'data-name':'customer_id'}
            %div= get_customer(well['customer_id'].to_i).name
          %td.record_attribute{'data-name':'district_id'}
            %div= get_district(well['district_id'].to_i).name
          %td.remove_circle= link_to(material_icon.remove_circle_outline, basin_metrics_well_delete_path(well['id']), method: :delete, remote: true)
  - else
    .no_record
      No Wells Added yet - Go ahead and add some!