
.list_options
  .title WELLS
  = link_to(material_icon.add_circle_outline, basin_metrics_wells_new_path, remote: true)

.list_content
  - if wells.present?
    %table
      - wells.first.keys.each do |key|
        - if (key == 'id') || (key == 'revenue')
          - next
        - else
          %th.well_heading= key
      - wells.each_with_index do |well|
        %tr.well_record{'data-wellid': well['id']}
          %td.record_attribute{'data-name':'name'}= well['name']
          %td.record_attribute{'data-name':'number'}= well['number']
          %td.record_attribute{'data-name':'pump_running'}
            = check_box_tag('well_pump_running', 'true', well['pump_running'].to_boolean)
            = well['pump_running'].humanize
          %td.record_attribute{'data-name':'cemented'}
            = check_box_tag('well_cemented', 'true', well['cemented'].to_boolean)
            = well['cemented'].humanize
          %td.record_attribute{'data-name':'customer_id'}= get_customer(well['customer_id'].to_i).name
          %td.record_attribute{'data-name':'district_id'}= get_district(well['district_id'].to_i).name
          %td.record_attribute{'data-name':'complete'}
            = check_box_tag('well_complete', 'true', well['complete'].to_boolean)
            = well['complete'].humanize
          %td.record_attribute{'data-name':'comments'}= well['comments']
          %td.record_attribute{'data-name':'created_at'}= well['created_at'].to_time.strftime("%b %e,%l:%M %p")
          %td.record_attribute{'data-name':'updated_at'}= well['updated_at'].to_time.strftime("%b %e,%l:%M %p")
          %td.remove_circle= link_to(material_icon.remove_circle_outline, basin_metrics_well_delete_path(well['id']), method: :delete, remote: true)
  - else
    .no_record
      No Wells Added!