
.title WELLS

= form_for BasinMetrics::Well.new, :method => :post, html: {class: 'create_line_form'}, remote: true do |f|
  = f.text_field "name", placeholder: "well name"
  = f.text_field "number", placeholder: "well number"
  = f.select(:pump_down_ring, [['pump down ring', 'none'],['none', 'none'],['3.70in', '3.70in'],['3.79in', '3.79in']])
  = f.label :cemented, 'cemented?'
  = f.check_box :cemented
  = f.select :customer_id, options_for_select(get_customers_options)
  = f.select :district_id, options_for_select(get_districts_options)
  = f.submit "Submit"
  = link_to "cancel", '/basin_metrics/wells', remote: true