
.list_options
  .title WELLS
  = link_to(material_icon.add_circle_outline, basin_metrics_wells_new_path, remote: true) unless (customers_missing? || districts_missing?)

.list_content
  - if customers_missing?
    Please add some Customers first
  - elsif districts_missing?
    Please add some Districts first
  - elsif wells_exist?
    %table.list_table
      - get_well_headings.each do |heading|
        %th.well_heading= heading
      - wells.each_with_index do |well|
        %tr.well_record{'data-wellid': well['id']}
          %td
            %div.examine_circle= link_to(material_icon.donut_large, basin_metrics_well_show_path(well['id']), method: :get, remote: true)
          %td.record_attribute{'data-name':'name'}
            %div= well['name'].humanize
          %td.record_attribute{'data-name':'number'}
            %div= well['number']
          %td.record_attribute.nullable{'data-name':'completed'}
            %input.flatpickr{placeholder: "#{well['completed'].blank? ? 'pending' : well['completed']}"}
          %td.record_attribute{'data-name':'customer_id'}
            %div= get_customer(well['customer_id'].to_i).name.humanize
          %td.record_attribute{'data-name':'district_id'}
            %div= get_district(well['district_id'].to_i).name.humanize
          %td.remove_circle= link_to(material_icon.remove_circle_outline, basin_metrics_well_delete_path(well['id']), method: :delete, remote: true)
  - else
    .no_record
      No Wells Added yet - Go ahead and add some!

:javascript
  var focused_input;
  setNullableFieldColors();
  flatpickr(".flatpickr", {
    enableTime: true,
    weekNumbers: true
  });

  $('input.flatpickr').click(function(){
    focused_input = $(this);
  })

  $('.flatpickr-calendar').mouseleave(function(){
    if (focused_input != 'undefined'){
      sendUpdate(focused_input, focused_input.val());
    }
  });
