
.progress_pane
  %div.close_circle= link_to(material_icon.cancel, basin_metrics_well_show_path(well['id']), method: :get, remote: true)
  .progress_content
    %div{id:"container"}
.record_description
  %ul
    %li
      .title Well:
      .value #{well['name'].humanize} #{well['number']}
    %li
      .title Percent Complete:
      .value #{well['percent_complete']}
    %li
      .title Est. Start/End:
      .value.comment= well['est_start'].blank? ? 'pending' : "to" + well['est_start']
      .value.comment= well['est_end'].blank? ? '' : well['est_end']
    %li
      .title Actual Start/End:
      .value.comment= well['actual_start'].blank? ? 'pending' : well['actual_start']
      .value.comment= well['completed'].blank? ? '' : "to" + well['completed']
    %li
      .title Directions:
      .value.comment= well['directions'].blank? ? 'none' : well['directions']
    %li
      .title Comments:
      .value.comment= well['comment'].blank? ? 'none' : well['comment']

:javascript
  var percent_complete = (parseFloat("#{well['percent_complete']}"))/100;
  var stroke_width = 16;
  var bar = new ProgressBar.Circle(container, {
    color: '#CCDBDC', //Text color
    // This has to be the same size as the maximum width to
    // prevent clipping
    strokeWidth: stroke_width,
    trailWidth: 10,
    easing: 'easeInOut',
    duration: 1200,
    text: {
      autoStyleContainer: false
    },
    from: { color: '#9faeaf', width: 10 },
    to: { color: '#298889', width: stroke_width },
    // Set default step function for all animate calls
    step: function(state, circle) {
      circle.path.setAttribute('stroke', state.color);
      circle.path.setAttribute('stroke-width', state.width);

      var value = Math.round(circle.value() * 100);
      if (value === 0) {
        circle.setText('0' + '%');
      } else {
        circle.setText(value + '%');
      }

    }
  });
  bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
  bar.text.style.fontSize = '2rem';
  bar.animate(percent_complete);  // Number from 0.0 to 1.0