
.list_options
  .title DISTRICTS
  = link_to(material_icon.add_circle_outline, basin_metrics_districts_new_path, remote: true)

.list_content
  - if districts_exist?
    %table.list_table
      - districts.first.keys.each do |key|
        - if (key == 'id') || (key == 'revenue')
          - next
        - else
          %th.list_heading= key
      - districts.each_with_index do |district|
        %tr.district_record{'data-districtid': district['id']}
          %td.record_attribute{'data-name':'name'}= district['name']
          %td.record_attribute{'data-name':'created_at'}= district['created_at'].to_time.strftime("%b %e,%l:%M %p")
          %td.record_attribute{'data-name':'updated_at'}= district['updated_at'].to_time.strftime("%b %e,%l:%M %p")
          %td.remove_circle= link_to(material_icon.remove_circle_outline, basin_metrics_district_delete_path(district['id']), method: :delete, remote: true)
  - else
    .no_record
      No Districts Added yet - Go ahead and add some!