<!DOCTYPE html>
<html>
	<head>
		<title>Seanvelope</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>

	<%= render partial: "shared/nav_bar" %>

	<%= render partial: "shared/image_box" %>

	<body>
		<%= yield %>
	</body>

</html>
