<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Seanvelope</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Permanent+Marker|Anton|Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="main">
      <div class="section_one">
        <div class="about_me_pic"></div>
        <div class="about_me_stats">
          <div class="stats">
            Skill Profile
            <div class="stat">
              <div class="stat_title">Ruby</div>
              <div class="stat_bar"><div class="ruby"></div></div>
            </div>
            <div class="stat">
              <div class="stat_title">Html/Sass</div>
              <div class="stat_bar"><div class="design"></div></div>
            </div>
            <div class="stat">
              <div class="stat_title">Javascript</div>
              <div class="stat_bar"><div class="javascript"></div></div>
            </div>
            <div class="stat">
              <div class="stat_title">Automated Testing</div>
              <div class="stat_bar"><div class="testing"></div></div>
            </div>
            <div class="stat">
              <div class="stat_title">DevOps</div>
              <div class="stat_bar"><div class="dev_ops"></div></div>
            </div>
          </div>
        </div>
        <div class="badge">
          <div class="subsection_name">
            Sean Riordan
          </div>
          <div class="subsection_slogan">A ruby developer, based in Denver, CO</div>
          <div class="subsection_description"></div>
        </div>
        <div class="accent_title">
          SEANVELOPE
        </div>
      </div>
      <div class="section_two">
        <div class=""></div>
        <%= image_tag("mountain_cloud", class: 'image_column') %>
        <div class="about_me_column"></div>
        </div>
      </div>
			<%= yield %>
		</div>
	</body>

</html>
