<!DOCTYPE html>
<html lang="en-US">
	<head>
		<title>Seanvelope</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond|Permanent+Marker|Anton" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<%= csrf_meta_tags %>
	</head>

	<body>
		<div class="main">
      <div class="section_one">
        <div class="about_me_pic"><%#= image_tag("seanvelope_selfie.jpg", class: 'selfie_img') %></div>
        <div class="about_me_stats"></div>
        <div class="badge">
          <div class="subsection_name">
            Sean Riordan
          </div>
          <div class="subsection_slogan">A ruby developer, based in Denver, CO</div>
          <div class="subsection_description"></div>
        </div>
        <div class="accent_title">
          SEANVELOPE
        </div>
      </div>
      <div class="section_two">
        <div class=""></div>
        <%= image_tag("mountain_cloud", class: 'image_column') %>
        <div class="about_me_column"></div>
        </div>
      </div>
			<%= yield %>
		</div>
	</body>

</html>
