!!!
%html{:lang => "en-US"}
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv": "Content-Type"}/
    %title Seanvelope
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "https://fonts.googleapis.com/css?family=EB+Garamond|Permanent+Marker|Roboto:700|Raleway:300", :rel => "stylesheet"}/
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{href:'https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.css', rel:'stylesheet'}
    %script{src:"https://api.mapbox.com/mapbox-gl-js/v0.29.0/mapbox-gl.js?cache_bust=#{rand(0..999)}"}
    = csrf_meta_tags
  %body
    = yield
